body{
    background-color: #2a2a2a;
}

.class1 {
    font-size:15px;
}

.NombreClass {
    display:flex;
    margin-bottom:-50px;
    justify-content:center
}

.className{
    margin-top:50px;

    margin-left:10px;

}

.classh1 {
    margin-top:22px;
    margin-left:20px;
    margin-bottom:0px;
}

/* .nameImageSummary{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;

} */
.summaryStyle{
    width:850px;
    margin-left:50px;
    padding-right:50px;
    border-right: 1px solid #000;
    text-align: left;
    /* border-left: 4px dashed blue; */
}

.stepsStyle{
    margin-left:50px;
    width:650px;
    margin-top:50px;
    text-align: left;
}

/* div { border-left: 4px dashed blue;
    background-color: gold;
    height: 100px;
    width: 100px;
    font-weight: bold; } */
.healthDiets{
    margin-top:300px;
    display:flex;
    flex-direction:column;
}

.healthDietSsteps {
    width:750px;
    display:flex;
    flex-direction:column;

}

.imagenyResumen{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.detailClass{
    background-color: #aaa8a8 ;
margin-top:50px;
margin-left:100px;
    width: 1700px;
    height:1300px;
    padding:0px;
border:1px solid #ccc;  
box-shadow: 2px 2px 2px 2px #ccc;
font-size:20px;
display:flex;
}

.imagedetail {
    width:900px;
    margin-bottom:40px;
    margin-top:50px;
    margin-left:50px;
}

.botonDetail{
    padding:0px;
    margin:center;
    width: 800px;
    height: 65px;
    cursor: pointer;
    background-color: #aaa8a8 ;
    position:relative;
    display:inline-block;
    padding-top:0px;
    border-color: #2a2a2a;
    border-radius: 15px;
    color: #2a2a2a;
    font-size: 27px;
    font-family:ericma;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    margin-top:30px;
   }
  
   .botonDetail:hover{
    background-color: #ffac46;  
  
   
  }   