body{
    background-color: #2a2a2a;
}

.padreTop{
  display:flex;
  font-family:ericma;  
  font-weight: bold;
  font-size: 27px;
  color: #aaa8a8; 
}

.LinkClase{
 padding-top:20px;
  width:200px;
  margin:3px;
  margin-top:7px;
  display:block;
  color:#ffac46; 
  font-weight: italic;
  font-size: 27px;
}




.filtrosyPaginado {
  font-size:5px;
  width:804px;
  margin-top:20px;
  height:167px;
}

a{
   font-size:20px;
  cursor: pointer;
  text-decoration: none;

}







nav{
  height:50px;
}


li{
  border-radius: 2px;
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: darkgrey;
  color: #2a2a2a;
  margin: 4px;
  background-color:#aaa8a8
}

.padreDeFiltros {
  font-size:22px;
  width:804px;
  display:flex;
  justify-content: space-around;
  
}


.HealthClass{
  margin:2px;
  font-size:12px;
  padding-top:20px;
  display:flex;
  flex-direction:column;
 
  
}

.TypeClass {
  margin:2px;
  font-size:12px;
  padding: 7px 10px;

  display:flex;
  flex-direction:column;
  
}


.abcClase {
/*   justify-content: space-between; */
  font-size:18px;
  padding-top:20px;
  display:flex;
  flex-direction:column;
}

.tipoClase { 
  font-size:18px;
  padding-top:20px;
  display:flex;
  flex-direction:column;
  }

.creadosClase{
  margin:2px;
  font-size:18px;
  padding-top:20px;
    display:flex;
  flex-direction:column;

}


.LabelPagina{
  font-size:20px !important;
  margin-top:25px;
}

.paginadoClase{
  font-size:12px;
  margin:0px;
  height:53px;
  display:flex;
  justify-content:center;
  margin-top:50px;
  margin-left:-134px;

  
}

.paginasClase{
  margin-top:0px;
  padding:0px;


}


.searchBarClase{
  font-size:5px;
}

.padreDeCards{

    gap:13px;
   display:flex;
   width: 1340px;
   margin-left: -60px;
   margin-top:50px;
   flex-wrap: wrap;
   justify-content: center;
       text-decoration: none;
       background-color: #2a2a2a;

}


.boton{
  padding:0px;
  margin:center;
  width: 134px;
  height: 43px;
  cursor: pointer;
  background-color: #aaa8a8 ;
  position:relative;
  display:inline-block;
  padding-top:0px;
  border-color: #2a2a2a;
  border-radius: 15px;
  color: #2a2a2a;
  font-size: 18px;
  font-family:ericma;
  text-decoration: none;
  font-weight: bold;
  border-style: solid;
  margin-top:-5px;
 }

 .boton:hover{
  background-color: #ffac46;  

 
}   
.LoadingClass{
  color:#aaa8a8;
  font-size:30px;
}


.padreDeCards > fragment {
    width: 335px;
/*     height:470px; */
    text-align: center;
    margin-left:60px;
    margin-top:30px;   
    border:1px solid #ccc;  
    box-shadow: 2px 2px 2px 2px #ccc;
    background-color:#aaa8a8  ;
}

.padreDeCards > fragment:hover { 
    background-color:#ffac46 ;
    color:#2a2a2a;
} 


fragment{
    background-color:#aaa8a8;
}

.HealthClass select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}


.HealthClass select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.HealthClass select::-ms-expand {
  display: none;
}


.HealthClass{
	max-width: 167px;
	position: relative;
}
 
.HealthClass select{
	display: inline-block;
	width: 134px;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
  background-color: #aaa8a8;
	color: #7b7b7b;
	font-size: 1em;
	color: #2a2a2a;

	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    font-family:ericma;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
}




option{
  font-family:ericma;
  text-decoration: none;
  font-weight: bold;
  border-style: solid;
}
 

.HealthClass i{
	position: absolute;
	right: 20px;
	top: calc(50% + 5px);
	width: 10px;
	height: 10px;
	display: block;
	border-left:4px solid #2a2a2a;
	border-bottom:4px solid #2a2a2a;
	transform: rotate(-45deg); 
	transition: all 0.25s ease;
}
 
.HealthClass:hover i{
	margin-top: 3px;


}

/* .HealthClassSelect {
  background-color:green;
} */



select:hover {
  background-color:#ffac46; 
  cursor: pointer;
  
}

option {
  background-color:#ffac46; 
  cursor: pointer; 
}
 
option:hover {
  background-color:red;  
  cursor: pointer;
}

/* .optionStyle {
  background-color:red;
  box-shadow:0px 0px 10px 100px inset green !important;
}

.optionStyle:hover {
  background-color:yellow !important;
} */




/* option:hover {
  background-color: yellow;
}
 */