body{
    background-color: #2a2a2a;
}

.cardStyleName{
    font-size:25px;
    color:#2a2a2a;   
    text-decoration: none;
}

.cardStyletype {
    font-size:25px;
    color:#2a2a2a;   
}

.cardhealthScore{
    font-size:25px;
    color:#2a2a2a;   
}

.cardStyletitle{
    font-size:25px;
    color:#2a2a2a;   
}

.cardStylenombreReceta{
    font-size:25px;
    color:#2a2a2a;  
}